@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 


/* common */
.clear:after {display:block; content:''; clear:both}
.hide {overflow: hidden; display: inline-block; border: 0; margin: -1px; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%);}

/* layout */
#wrap {margin: 40px auto; width:980px;}
.title {text-align:center; margin-bottom:10px; }
.memo-box {background:lightgoldenrodyellow; padding:20px 15px 20px 10px; text-align:center; margin-bottom:30px; }
.memo-box .title {font-weight:bold; font-size:18px; margin-bottom:8px; }
.example-box {background:#fafafa; padding: 20px; display:flex; justify-content: center; align-items:center; flex-direction:column; flex-wrap:wrap; gap: 10px;}
.example-box + .example-box {margin:20px 0;}
.inp-txt {position:relative;}
.inp-txt.on input {border-color:red}
.inp-txt.on .btn-del {display:block;}
.inp-txt input {padding:11px 10px; border:1px solid #ddd; font-family:inherit; color:inherit; box-sizing:border-box}
.inp-txt label {display:inline-block; width:100px; font-size:14px; margin-right:4px;}

/* select */
select {-webkit-appearance: none;-moz-appearance: none;appearance: none;}

.inp-select select {padding:11px 30px 11px 15px; border:1px solid #ddd; background:url("../images/ico_select.png") no-repeat right 10px top 55%/10px auto; }
.ul-select select {}

/* form */
.txt-form {margin:0 5px;}
/* btn */
.btn {width:100%; max-width:400px; padding:10px; line-height:20px; border-radius:4px;}
.btn.small {width:150px; }

.btn-del {display:none; position:absolute; right:10px; top:50%; transform:translateY(-50%); width:18px; height:18px; line-height:18px; background:#ddd; border-radius:50%; }        
.btn-del .txt {position:absolute !important; width:1px; height:1px; overflow:hidden; clip:rect(1px 1px 1px 1px); /* IE6, IE7 */ clip:rect(1px, 1px, 1px, 1px);}
.btn-del:before,
.btn-del:after {position:absolute; left:8px; top:5px; width:2px; height:9px; background:#fff; content:''}
.btn-del:before {transform:rotate(-45deg);}
.btn-del:after {transform:rotate(45deg);}
.btn.login {background:rgb(0,56,168); color:#fff;}
.btn:disabled {background:#eee; }
.btn.lightblue {background:#d3e0ea; color:#111;}
.btn-count {display:inline-block; width:auto; background-color:#eee;}

.btn-group {margin-top:10px; text-align: center;}
/* sub */
.count-wrap > * {display:inline-block;margin:0 10px;}
.count-wrap:after {display:block; content:''; clear:both;}
.tx-count i {display:inline-block; width:0; height:0; border-style:solid; border-width:4px; margin-right:5px;}
.tx-count.up i {border-color:transparent transparent red transparent; vertical-align:4px}
.tx-count.down i {border-color:blue transparent transparent transparent; vertical-align:-1px}
